
# Ignore
.DS_Store

## Build generated
build/
DerivedData/

*.xcuserstate
*.xcbkptlist
UserInterfaceState.xcuserstate
TopSongs/TopSongs.xcodeproj/project.xcworkspace/xcuserdata/richie.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
